## Splitting data for testing and training.

#### The reason for doing this separate from the models is so that the test & train data can be kept consistent across the models.

In [8]:
'''Iporting libraries'''

from sklearn.model_selection import train_test_split
import pandas as pd

In [9]:
model_test_data = pd.read_csv('Test - Train Modelling Data.csv')

In [10]:
model_test_data.head()

,ID Key,Location,Grade Name,End Date,Gender,Date of Birth,Pension Scheme,Termination Reason,Date Eligible for Retirement,Retirement Difference,Age,Outcome,Location_cat,Grade Name_cat,Gender_cat,Pension Scheme_cat
0,1,WY,HEO,20/12/2017,M,14/03/1956,Other,RETIREMENT,14/03/2016,1.768688,61.769920,True,14,8,1,2
1,3,FY,G6,31/10/2013,M,21/07/1956,Other,RETIREMENT,21/07/2016,-2.721480,57.279752,True,5,5,1,2
2,4,PB,HEO,29/04/2021,M,09/05/1955,Alpha,RESIGNATION,05/04/2021,-0.013690,65.649534,False,10,8,1,0
3,5,GL,HEO,31/05/2014,M,31/03/1954,Other,RETIREMENT,31/03/2014,0.167012,60.168244,True,6,8,1,2
4,6,FY,SEO,07/06/2013,M,07/06/1953,Other,RETIREMENT,07/06/2013,0.000000,60.001232,True,5,11,1,2

In [11]:
x = model_test_data[['Location_cat','Grade Name_cat','Gender_cat','Pension Scheme_cat','Retirement Difference','Age']]
y = model_test_data[['Outcome']]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.8)

In [13]:
X_train.to_csv('X_train.csv',index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv',index=False)
y_test.to_csv('y_test.csv', index=False)